body {
  font-family: Georgia, serif;
  background-color: #ffffff;
  padding: 60px 120px;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 50px;
}

.container {
  max-width: 750px;
}

.container h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

label {
  display: block;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  box-sizing: border-box;
}

textarea {
  height: 180px;
}

button {
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  font-size: 18px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #222;
}
